.currency-row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  &-btn{
    margin:0 5px;
    border-radius: 5px;
    background: #2c3e50;
    color: #ffffff;
    line-height: 35px;
    cursor: pointer;
    transition: all 0.5s;
    border:1px  solid transparent;
    &:hover{
      transition: all 0.5s;
      color: #2c3e50;
      background: #ffffff;
      border:1px  solid #2c3e50;
    }
  }
  &-text{
    flex: 0 0 130px;
    text-align: left;
  }
}